@page "/calculator"
@rendermode InteractiveServer
<style>
    
    *{
      margin: 0;
      padding:0;
      box-sizing: border-box;
    }
    .badabox{
        background-color:burlywood;
        width:50vw;
        height:105vh;
        border:2px solid black;
        @* display:grid;
        grid-template-columns: auto auto auto; *@
        @* gap:20px *@
        margin:auto;
    }
  
    .upbox{
        width:50vw;
        height:10vw;
        border:2px solid blue;
        margin:25px auto;
    }
    .underbox
    {display:grid;
    font-size: 2rem;
    font-weight: 700;
    grid-template-columns: auto auto auto auto auto; 
    column-gap:2vw;
    row-gap:normal;
    border-radius:15px;
    border:2px solid black;
    
    }
    .number1
    {
        border:1px solid black;
        height: 7vw;
        width: 7vw;
        margin: 20px auto ;
       text-align: center;
       border-radius: 45px;
       padding:1.7vw
      
       
    }
       .number2
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
       .number3
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
       .number4
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
       .number5
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number6
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number7
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number8
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number9
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number10
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number11
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number12
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number13
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number14
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number15
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
        .number16
    {
        border:1px solid black;
         height:7vw;
        width: 7vw;
        margin:20px auto;
        text-align: center;
         border-radius: 45px;
       padding:1.7vw
    }
</style>
<div class="badabox">
    <div class="upbox"></div>
    <div class="underbox">
    <div class="number1">7</div>
    <div class="number2">8</div>
    <div class="number3">9</div>
     <div class="number4">MOD</div>
      <div class="number5">AC</div>
       <div class="number6">4</div>
        <div class="number7">5</div>
        <div class="number8">6</div>
        <div class="number9">*</div>
        <div class="number10">/</div>
        <div class="number11">1</div>
        <div class="number12">2</div>
        <div class="number13">3</div>
        <div class="number14">+</div>
        <div class="number15">-</div>
        <div class="number16">0</div>
    </div>
    </div>